.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50rem;
  width: 80rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: white;
}
.current-forecast__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.search-bar__container {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  gap: 0.5rem;
  padding: 1rem;
  height: 2rem;
  width: 100%;
}
.search-bar__location-img {
  max-width: 1rem;
  max-height: 1rem;
}
.search-bar__input {
  border: none;
  background: none;
  outline: none;
  color: white;
}
.search-bar__input::placeholder {
  color: white;
}
.search-bar__form-container {
  width: 90%;
}
.upcoming-forecast__container {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-forecast__stat-container {
  display: flex;
  flex-direction: column;
}
.current-forecast__temperature {
  font-size: 5rem;
}
.current-forecast__weather {
  font-size: 1.5rem;
  font-weight: 600;
}
.current-forecast__weather-description {
  color: rgba(255, 255, 255, 0.8);
}
.current-forecast__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, 150px);
  gap: 1rem;
}
.current-forecast__grid-heading-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.current-forecast__grid-heading {
  font-size: 0.8rem;
  white-space: nowrap;
}
.current-forecast__grid-el {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  overflow: hidden;
}
.current-forecast__grid-para-content {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.8);
}
.upcoming-forecast__hourly-container {
  padding: 1rem;
  width: 850px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.upcoming-forecast__hourly-container-wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
}
.upcoming-forecast__hourly-container-wrapper::-webkit-scrollbar {
  height: 7px;
}

.upcoming-forecast__hourly-container-wrapper::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}

.upcoming-forecast__hourly-container-wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

.upcoming-forecast__hourly-container-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.upcoming-forecast__hourly-el {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.upcoming-forecast__hourly-el:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.upcoming-forecast__hourly-time-el {
  white-space: nowrap;
}
.upcoming-forecast__hourly-time-el {
  font-size: 1rem;
  font-weight: 500;
}
.upcoming-forecast__hourly-temperature-el {
  font-weight: 500;
  font-size: 1rem;
}
.upcoming-forecast__hourly-img-el {
  width: 3rem;
}
.upcoming-forecast__hourly-container-name {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0.5rem;
}
