.main-container {
  min-height: 50rem;
  min-width: 80rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: grid;
  grid-template-columns: 350px 1fr;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.current-forecast__container {
  padding: 2rem;
  display: flex;
  align-items: start;
}
.search-bar__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  height: 2rem;
  padding: 0 0.5rem;
  width: 100%;
}
.search-bar__location-img {
  max-width: 1rem;
  max-height: 1rem;
}
.search-bar__input {
  border: none;
  background: none;
  outline: none;
  color: white;
}
.search-bar__form-container {
  width: 100%;
}
.upcoming-forecast__container {
  background-color: rgba(0, 0, 0, 0.25);
}
